<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <add name="SharedDanestanehEntities" connectionString="metadata=res://*/SharedModel.ShortCodeServiceModel.csdl|res://*/SharedModel.ShortCodeServiceModel.ssdl|res://*/SharedModel.ShortCodeServiceModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Danestaneh;integrated security=True; max pool size=4000;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="SharedMyLeagueEntities"   connectionString="metadata=res://*/SharedModel.ShortCodeServiceModel.csdl|res://*/SharedModel.ShortCodeServiceModel.ssdl|res://*/SharedModel.ShortCodeServiceModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=MyLeague;integrated security=True; max pool size=4000;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="SharedMobiligaEntities"   connectionString="metadata=res://*/SharedModel.ShortCodeServiceModel.csdl|res://*/SharedModel.ShortCodeServiceModel.ssdl|res://*/SharedModel.ShortCodeServiceModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Mobiliga;integrated security=True; max pool size=4000;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="SharedMashinBazhaEntities" connectionString="metadata=res://*/SharedModel.ShortCodeServiceModel.csdl|res://*/SharedModel.ShortCodeServiceModel.ssdl|res://*/SharedModel.ShortCodeServiceModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=MashinBazha;integrated security=True; max pool size=4000;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="SharedSoltanEntities" connectionString="metadata=res://*/SharedModel.ShortCodeServiceModel.csdl|res://*/SharedModel.ShortCodeServiceModel.ssdl|res://*/SharedModel.ShortCodeServiceModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Soltan;integrated security=True; max pool size=4000;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="SharedTabriz2018Entities" connectionString="metadata=res://*/SharedModel.ShortCodeServiceModel.csdl|res://*/SharedModel.ShortCodeServiceModel.ssdl|res://*/SharedModel.ShortCodeServiceModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Tabriz2018;integrated security=True; max pool size=4000;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="SharedSepidRoodEntities" connectionString="metadata=res://*/SharedModel.ShortCodeServiceModel.csdl|res://*/SharedModel.ShortCodeServiceModel.ssdl|res://*/SharedModel.ShortCodeServiceModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=SepidRood;integrated security=True; max pool size=4000;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="SharedTirandaziEntities" connectionString="metadata=res://*/SharedModel.ShortCodeServiceModel.csdl|res://*/SharedModel.ShortCodeServiceModel.ssdl|res://*/SharedModel.ShortCodeServiceModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Tirandazi;integrated security=True; max pool size=4000;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="SharedBimeKarbalaEntities" connectionString="metadata=res://*/SharedModel.ShortCodeServiceModel.csdl|res://*/SharedModel.ShortCodeServiceModel.ssdl|res://*/SharedModel.ShortCodeServiceModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=BimeKarbala;integrated security=True; max pool size=4000;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="SharedBoatingEntities" connectionString="metadata=res://*/SharedModel.ShortCodeServiceModel.csdl|res://*/SharedModel.ShortCodeServiceModel.ssdl|res://*/SharedModel.ShortCodeServiceModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Boating;integrated security=True;max pool size=4000;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="SharedDonyayeAsatirEntities" connectionString="metadata=res://*/SharedModel.ShortCodeServiceModel.csdl|res://*/SharedModel.ShortCodeServiceModel.ssdl|res://*/SharedModel.ShortCodeServiceModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=DonyayeAsatir;integrated security=True;max pool size=4000;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="SharedShahreKalamehEntities" connectionString="metadata=res://*/SharedModel.ShortCodeServiceModel.csdl|res://*/SharedModel.ShortCodeServiceModel.ssdl|res://*/SharedModel.ShortCodeServiceModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=ShahreKalameh;integrated security=True; max pool size=4000;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="SharedBimeIranEntities" connectionString="metadata=res://*/SharedModel.ShortCodeServiceModel.csdl|res://*/SharedModel.ShortCodeServiceModel.ssdl|res://*/SharedModel.ShortCodeServiceModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=BimeIran;integrated security=True; max pool size=4000;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="SharedTamlyEntities" connectionString="metadata=res://*/SharedModel.ShortCodeServiceModel.csdl|res://*/SharedModel.ShortCodeServiceModel.ssdl|res://*/SharedModel.ShortCodeServiceModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Tamly;integrated security=True;max pool size=4000;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="SharedJabehAbzarEntities" connectionString="metadata=res://*/SharedModel.ShortCodeServiceModel.csdl|res://*/SharedModel.ShortCodeServiceModel.ssdl|res://*/SharedModel.ShortCodeServiceModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=JabehAbzar;integrated security=True; max pool size=4000;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="SharedShenoYadEntities" connectionString="metadata=res://*/SharedModel.ShortCodeServiceModel.csdl|res://*/SharedModel.ShortCodeServiceModel.ssdl|res://*/SharedModel.ShortCodeServiceModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=ShenoYad;integrated security=True;max pool size=4000;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="SharedFitShowEntities" connectionString="metadata=res://*/SharedModel.ShortCodeServiceModel.csdl|res://*/SharedModel.ShortCodeServiceModel.ssdl|res://*/SharedModel.ShortCodeServiceModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=FitShow;integrated security=True; max pool size=4000;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="SharedTakavarEntities" connectionString="metadata=res://*/SharedModel.ShortCodeServiceModel.csdl|res://*/SharedModel.ShortCodeServiceModel.ssdl|res://*/SharedModel.ShortCodeServiceModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Takavar;integrated security=True;max pool size=4000;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="SharedMenchBazEntities" connectionString="metadata=res://*/SharedModel.ShortCodeServiceModel.csdl|res://*/SharedModel.ShortCodeServiceModel.ssdl|res://*/SharedModel.ShortCodeServiceModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=MenchBaz;integrated security=True;max pool size=4000;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="SharedAvvalPodEntities" connectionString="metadata=res://*/SharedModel.ShortCodeServiceModel.csdl|res://*/SharedModel.ShortCodeServiceModel.ssdl|res://*/SharedModel.ShortCodeServiceModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=AvvalPod;integrated security=True;max pool size=4000;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="SharedAvvalYadEntities" connectionString="metadata=res://*/SharedModel.ShortCodeServiceModel.csdl|res://*/SharedModel.ShortCodeServiceModel.ssdl|res://*/SharedModel.ShortCodeServiceModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=AvvalYad;integrated security=True; max pool size=4000;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="SharedIrancellTestEntities" connectionString="metadata=res://*/SharedModel.ShortCodeServiceModel.csdl|res://*/SharedModel.ShortCodeServiceModel.ssdl|res://*/SharedModel.ShortCodeServiceModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=IrancellTest;integrated security=True; max pool size=4000;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="SharedSoratyEntities" connectionString="metadata=res://*/SharedModel.ShortCodeServiceModel.csdl|res://*/SharedModel.ShortCodeServiceModel.ssdl|res://*/SharedModel.ShortCodeServiceModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Soraty;integrated security=True; max pool size=4000;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="SharedDefendIranEntities" connectionString="metadata=res://*/SharedModel.ShortCodeServiceModel.csdl|res://*/SharedModel.ShortCodeServiceModel.ssdl|res://*/SharedModel.ShortCodeServiceModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=DefendIran;integrated security=True;max pool size=4000;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="SharedTahChinEntities" connectionString="metadata=res://*/SharedModel.ShortCodeServiceModel.csdl|res://*/SharedModel.ShortCodeServiceModel.ssdl|res://*/SharedModel.ShortCodeServiceModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=TahChin;integrated security=True;max pool size=4000;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="SharedNebulaEntities" connectionString="metadata=res://*/SharedModel.ShortCodeServiceModel.csdl|res://*/SharedModel.ShortCodeServiceModel.ssdl|res://*/SharedModel.ShortCodeServiceModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Nebula;integrated security=True;max pool size=4000;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="SharedDezhbanEntities" connectionString="metadata=res://*/SharedModel.ShortCodeServiceModel.csdl|res://*/SharedModel.ShortCodeServiceModel.ssdl|res://*/SharedModel.ShortCodeServiceModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Dezhban;integrated security=True;max pool size=4000;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="SharedMusicYadEntities" connectionString="metadata=res://*/SharedModel.ShortCodeServiceModel.csdl|res://*/SharedModel.ShortCodeServiceModel.ssdl|res://*/SharedModel.ShortCodeServiceModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=MusicYad;integrated security=True;max pool size=4000;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="SharedPhantomEntities" connectionString="metadata=res://*/SharedModel.ShortCodeServiceModel.csdl|res://*/SharedModel.ShortCodeServiceModel.ssdl|res://*/SharedModel.ShortCodeServiceModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Phantom;integrated security=True;max pool size=4000;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="SharedMedioEntities" connectionString="metadata=res://*/SharedModel.ShortCodeServiceModel.csdl|res://*/SharedModel.ShortCodeServiceModel.ssdl|res://*/SharedModel.ShortCodeServiceModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Medio;integrated security=True;max pool size=4000;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="SharedTamly500Entities" connectionString="metadata=res://*/SharedModel.ShortCodeServiceModel.csdl|res://*/SharedModel.ShortCodeServiceModel.ssdl|res://*/SharedModel.ShortCodeServiceModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Tamly500;integrated security=True; max pool size=4000;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="SharedShenoYad500Entities" connectionString="metadata=res://*/SharedModel.ShortCodeServiceModel.csdl|res://*/SharedModel.ShortCodeServiceModel.ssdl|res://*/SharedModel.ShortCodeServiceModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=ShenoYad500;integrated security=True; max pool size=4000;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="SharedBehAmooz500Entities" connectionString="metadata=res://*/SharedModel.ShortCodeServiceModel.csdl|res://*/SharedModel.ShortCodeServiceModel.ssdl|res://*/SharedModel.ShortCodeServiceModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=BehAmooz500;integrated security=True; max pool size=4000;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="SharedAvvalPod500Entities" connectionString="metadata=res://*/SharedModel.ShortCodeServiceModel.csdl|res://*/SharedModel.ShortCodeServiceModel.ssdl|res://*/SharedModel.ShortCodeServiceModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=AvvalPod500;integrated security=True; max pool size=4000;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="SharedDarchinEntities" connectionString="metadata=res://*/SharedModel.ShortCodeServiceModel.csdl|res://*/SharedModel.ShortCodeServiceModel.ssdl|res://*/SharedModel.ShortCodeServiceModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Darchin;integrated security=True; max pool size=4000;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="SharedDambelEntities" connectionString="metadata=res://*/SharedModel.ShortCodeServiceModel.csdl|res://*/SharedModel.ShortCodeServiceModel.ssdl|res://*/SharedModel.ShortCodeServiceModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Dambel;integrated security=True; max pool size=4000;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="SharedAsemanEntities" connectionString="metadata=res://*/SharedModel.ShortCodeServiceModel.csdl|res://*/SharedModel.ShortCodeServiceModel.ssdl|res://*/SharedModel.ShortCodeServiceModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Aseman;integrated security=True; max pool size=4000;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="SharedMedadEntities" connectionString="metadata=res://*/SharedModel.ShortCodeServiceModel.csdl|res://*/SharedModel.ShortCodeServiceModel.ssdl|res://*/SharedModel.ShortCodeServiceModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Medad;integrated security=True;max pool size=4000;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="SharedPorShetabEntities" connectionString="metadata=res://*/SharedModel.ShortCodeServiceModel.csdl|res://*/SharedModel.ShortCodeServiceModel.ssdl|res://*/SharedModel.ShortCodeServiceModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=PorShetab;integrated security=True;max pool size=4000;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="SharedTajoTakhtEntities" connectionString="metadata=res://*/SharedModel.ShortCodeServiceModel.csdl|res://*/SharedModel.ShortCodeServiceModel.ssdl|res://*/SharedModel.ShortCodeServiceModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=TajoTakht;integrated security=True;max pool size=4000;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="SharedLahzeyeAkharEntities" connectionString="metadata=res://*/SharedModel.ShortCodeServiceModel.csdl|res://*/SharedModel.ShortCodeServiceModel.ssdl|res://*/SharedModel.ShortCodeServiceModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=LahzeyeAkhar;integrated security=True;max pool size=4000;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="SharedHazaranEntities" connectionString="metadata=res://*/SharedModel.ShortCodeServiceModel.csdl|res://*/SharedModel.ShortCodeServiceModel.ssdl|res://*/SharedModel.ShortCodeServiceModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Hazaran;integrated security=True;max pool size=4000;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="SharedJhoobinTahChinEntities" connectionString="metadata=res://*/SharedModel.ShortCodeServiceModel.csdl|res://*/SharedModel.ShortCodeServiceModel.ssdl|res://*/SharedModel.ShortCodeServiceModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=JhoobinTahChin;integrated security=True;max pool size=4000;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="SharedJhoobinPorShetabEntities" connectionString="metadata=res://*/SharedModel.ShortCodeServiceModel.csdl|res://*/SharedModel.ShortCodeServiceModel.ssdl|res://*/SharedModel.ShortCodeServiceModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Jhoobindb;integrated security=True;max pool size=4000;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="SharedJhoobinPinEntities" connectionString="metadata=res://*/SharedModel.ShortCodeServiceModel.csdl|res://*/SharedModel.ShortCodeServiceModel.ssdl|res://*/SharedModel.ShortCodeServiceModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=JhoobinPin;integrated security=True;max pool size=4000;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="SharedJhoobinMusicYadEntities" connectionString="metadata=res://*/SharedModel.ShortCodeServiceModel.csdl|res://*/SharedModel.ShortCodeServiceModel.ssdl|res://*/SharedModel.ShortCodeServiceModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=JhoobinMusicYad;integrated security=True;max pool size=4000;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="SharedJhoobinMedadEntities" connectionString="metadata=res://*/SharedModel.ShortCodeServiceModel.csdl|res://*/SharedModel.ShortCodeServiceModel.ssdl|res://*/SharedModel.ShortCodeServiceModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=JhoobinMedad;integrated security=True;max pool size=4000;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="SharedJhoobinDambelEntities" connectionString="metadata=res://*/SharedModel.ShortCodeServiceModel.csdl|res://*/SharedModel.ShortCodeServiceModel.ssdl|res://*/SharedModel.ShortCodeServiceModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=JhoobinDambel;integrated security=True;max pool size=4000;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="SharedHalgheEntities" connectionString="metadata=res://*/SharedModel.ShortCodeServiceModel.csdl|res://*/SharedModel.ShortCodeServiceModel.ssdl|res://*/SharedModel.ShortCodeServiceModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Halghe;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
