<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="DehnadMusicYadService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <log4net>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="InfFileAppender" />
      <appender-ref ref="ExpFileAppender" />
    </root>
    <appender name="InfFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="Logs\MusicYadWS-Info_" />
      <staticLogFileName value="False" />
      <rollingStyle value="Date" />
      <datePattern value="yyyy.MM.dd'.log'" />
      <appendToFile value="true" />
      <encoding value="utf-8" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="INFO" />
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{yy/MM/dd HH:mm:ss.fff} : %message%newline" />
      </layout>
    </appender>
    <appender name="ExpFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="Logs\MusicYadWS-Exceptions_" />
      <staticLogFileName value="False" />
      <rollingStyle value="Date" />
      <datePattern value="yyyy.MM.dd'.log'" />
      <appendToFile value="true" />
      <encoding value="utf-8" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR" />
        <levelMax value="ERROR" />
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{yy/MM/dd HH:mm:ss.fff} : %message%newline" />
      </layout>
    </appender>
  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="PortalEntities" connectionString="metadata=res://*/Models.PortalModel.csdl|res://*/Models.PortalModel.ssdl|res://*/Models.PortalModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Portal;integrated security=True; max pool size=500;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MusicYadEntities" connectionString="metadata=res://*/Models.MusicYadModel.csdl|res://*/Models.MusicYadModel.ssdl|res://*/Models.MusicYadModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=MusicYad;integrated security=True;max pool size=500;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="MTSoap" />
        <binding name="ServiceSoap" />
        <binding name="SendSoapBinding" />
        <binding name="SmsSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.20.22.18:1090/mt.asmx" binding="basicHttpBinding"
        bindingConfiguration="MTSoap" contract="PardisImiServiceReference.MTSoap"
        name="MTSoap" />
      <endpoint address="http://10.20.22.18:1367/Service.asmx" binding="basicHttpBinding"
        bindingConfiguration="ServiceSoap" contract="PardisImiSinglechargeServiceReference.ServiceSoap"
        name="ServiceSoap" />
      <endpoint address="http://10.20.11.200/Send/services/Send" binding="basicHttpBinding"
        bindingConfiguration="SendSoapBinding" contract="PardisPlatformServiceReference.ServiceCall"
        name="Send" />
      <endpoint address="http://ws.smartsms.ir/sms.asmx" binding="basicHttpBinding"
        bindingConfiguration="SmsSoap" contract="HubServiceReference.SmsSoap"
        name="SmsSoap" />
    </client>
  </system.serviceModel>

  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="65535"/>
    </connectionManagement>
  </system.net>
  
  <userSettings>
    <DehnadMusicYadService.Properties.Settings>
      <setting name="AggregatorName" serializeAs="String">
        <value>MTN</value>
      </setting>
      <setting name="InsertAutochargeMessageInQueueTime" serializeAs="String">
        <value>03:15:00</value>
      </setting>
      <setting name="InsertAutochargeMessageInQueueEndTime" serializeAs="String">
        <value>03:15:15</value>
      </setting>
      <setting name="NumberOfAutochargeMessagesPerDay" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ReadSize" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="Take" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="ServiceCode" serializeAs="String">
        <value>MusicYad</value>
      </setting>
      <setting name="RetryNotDeliveredMessages" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FirstSingleChargeTakeSize" serializeAs="String">
        <value>7000</value>
      </setting>
      <setting name="SecondSingleChargeTakeSize" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="DefaultSingleChargeTakeSize" serializeAs="String">
        <value>2000</value>
      </setting>
    </DehnadMusicYadService.Properties.Settings>
  </userSettings>
</configuration>