
@{
    ViewBag.Title = ViewBag.ServiceName;
}

<div class="k-rtl" id="realTimeStatisticsFor3GServicesGrid"></div>
<br />
<br />
<div class="k-rtl" id="realTimeStatisticsFor2GServicesGrid"></div>


<script>
    var realTimeStatisticsFor3GServicesGridElement = $("#realTimeStatisticsFor3GServicesGrid");
    var realTimeStatisticsFor2GServicesGridElement = $("#realTimeStatisticsFor2GServicesGrid");

    $("#realTimeStatisticsFor3GServicesGrid").kendoGrid({

        columns: [
            { field: "PersianDate", title: "تاریخ", width: 200 },
            { field: "ServiceName", title: "سرویس", width: 200 },
            { field: "TotalSubscriptions", title: "ورود کل یوزرها", width: 150 },
            { field: "TotalUnsubscriptions", title: "لغو عضویت کل", width: 150 },
            { field: "TodayGenuineSubscriptions", title: "ورودی خالص امروز", width: 150 },
            { field: "ActivationRateByMinute", title: "عضویت بر دقیقه", width: 150 },
            { field: "ActivationRateByHour", title: "عضویت بر ساعت", width: 150 },
            { field: "DeactivationRateByMinute", title: "لغو عضویت بر دقیقه", width: 150 },
            { field: "DeactivationRateByHour", title: "لغو عضویت بر ساعت", width: 150 },
            { field: "GeniuneActivationRateByMinute", title: "عضویت خالص بر دقیقه", width: 150 },
            { field: "GeniueActivationRateByHour", title: "عضویت بر ساعت", width: 150 },
        ],
        toolbar: ["excel"],
                excel: {
                    allPages: true
                },
                excel: {
                    fileName:"3G Services Statistics.xlsx",
                    allPages: true,
                    filterable: true
                },
        dataSource: {
            type: "aspnetmvc-ajax",
            transport: {
                read: {
                    url: "ServiceDailyStatistics/RealTimeStatisticsFor3GServices_Read",
                    type: "POST"
					},
                },
            schema: {
                data: "Data",
                total: "Total",
                errors: "Errors",

            },
            serverSorting: true,
            serverFiltering: true,
            pageSize: 15,
            serverPaging: true,
            sort: [
                { field: "PersianDate", dir: "desc" }
            ]
        },
        columnMenu: true,
        editable: {
            mode: "inline",
            window: {
                title: "ویرایش",
                width: 500
            },
            confirmation: "آیا می خواهید این مطلب را حذف کنید؟",
        },
        pageable: {
            refresh: true,
            pageSizes: [15, 25, 50, 100],
            buttonCount: 15,
            input: true
        },
        navigatable: true,
        selectable: "single row",
        sortable: {
            mode: "multiple",
            allowUnsort: false
        },
        filterable: true,
        scrollable: false,
    });

    $("#realTimeStatisticsFor2GServicesGrid").kendoGrid({

        columns: [
            { field: "PersianDate", title: "تاریخ", width: 200 },
            { field: "ServiceName", title: "سرویس", width: 200 },
            { field: "PrepaidSubscriptions", title: "تعداد عضویت اعتباری", width: 150 },
            { field: "PostPaidSubscriptions", title: "تعداد عضویت دائمی", width: 150 },
            { field: "PrepaidUnsubscriptions", title: "تعداد لغو عضویت اعتباری", width: 150 },
            { field: "PostPaidUnsubscriptions", title: "تعداد لغو عضویت دائمی", width: 150 },
        ],
        toolbar: ["excel"],
                excel: {
                    allPages: true
                },
                excel: {
                    fileName:"2G Services Statistics.xlsx",
                    allPages: true,
                    filterable: true
                },
        dataSource: {
            type: "aspnetmvc-ajax",
            transport: {
                read: {
                    url: "ServiceDailyStatistics/RealTimeStatisticsFor2GServices_Read",
                    type: "POST"
					},
                },
            schema: {
                data: "Data",
                total: "Total",
                errors: "Errors",

            },
            serverSorting: true,
            serverFiltering: true,
            pageSize: 15,
            serverPaging: true,
            sort: [
                { field: "PersianDate", dir: "desc" }
            ]
        },
        columnMenu: true,
        editable: {
            mode: "inline",
            window: {
                title: "ویرایش",
                width: 500
            },
            confirmation: "آیا می خواهید این مطلب را حذف کنید؟",
        },
        pageable: {
            refresh: true,
            pageSizes: [15, 25, 50, 100],
            buttonCount: 15,
            input: true
        },
        navigatable: true,
        selectable: "single row",
        sortable: {
            mode: "multiple",
            allowUnsort: false
        },
        filterable: true,
        scrollable: false,
    });

    $(document).ready(function()
    {
		$("#realTimeStatisticsFor3GServicesGrid .k-grid-toolbar").prepend("<div class='gridTitle'><h3>سرویس های 3G</h3></div>");
		$("#realTimeStatisticsFor2GServicesGrid .k-grid-toolbar").prepend("<div class='gridTitle'><h3>سرویس های 2G</h3></div>");

        var refreshInterval = 60000;

		setInterval(function () {
			$('#realTimeStatisticsFor3GServicesGrid').data('kendoGrid').dataSource.read();
			$('#realTimeStatisticsFor2GServicesGrid').data('kendoGrid').dataSource.read();
		}, refreshInterval);
    });
</script>