
@{
    ViewBag.Title = ViewBag.ServiceName + " : " + "تنظیم ساعات ارسال اتوشارژ";
}

<div class="k-rtl" id="grid"></div>

<script>
    $("#grid").kendoGrid({

        columns: [
            { field: "Id", title: "ردیف" },
            { field: "Tag", title: "تگ" },
            { field: "SendTime", title: "ساعت ارسال"},
            { command: ["edit", "destroy"], width: 180 }
        ],
        toolbar: ["create"],
        dataSource: {
            type: "aspnetmvc-ajax",
            transport: {
                read: {
                    url: "AutochargeTimeTable/AutochargeTimeTable_Read",
                    type: "POST",
                    dataType: "json"
                },
                create: {
                    url: "AutochargeTimeTable/AutochargeTimeTable_Create",
                    type: "POST",
                    complete: function (e) {
                        $("#grid").data("kendoGrid").dataSource.read();
                    }
                },
                update: {
                    url: "AutochargeTimeTable/AutochargeTimeTable_Update",
                    type: "POST",
                    complete: function (e) {
                        $("#grid").data("kendoGrid").dataSource.read();
                    }
                },
                destroy: {
                    url: "AutochargeTimeTable/AutochargeTimeTable_Destroy",
                    type: "POST",
                    complete: function (e) {
                        $("#grid").data("kendoGrid").dataSource.read();
                    }
                },
            },
            schema: {
                data: "Data",
                total: "Total",
                errors: "Errors",
                model: {
                    id: "Id",
                    fields: {
                        Id: { type: "number", editable: false },
                        Tag: { type: "int", validation: { required: true }, nullable: false },
                        SendTime: { type: "string", validation: { required: true }, nullable: false },
                    }
                }
            },
            serverSorting: true,
            serverFiltering: true,
            pageSize: 10,
            serverPaging: true,
            sort: [
                { field: "Tag", dir: "asc" }
            ]
        },
        columnMenu: true,
        editable: {
            mode: "inline",
            window: {
                title: "ویرایش",
                width: 500
            },
            confirmation: "آیا می خواهید این مطلب را حذف کنید؟",
        },
        pageable: {
            refresh: true,
            pageSizes: [10, 25, 50, 100],
            buttonCount: 10,
            input: true
        },
        navigatable: true,
        selectable: "single row",
        sortable: {
            mode: "multiple",
            allowUnsort: false
        },
        filterable: true,
        scrollable: false,
        
    });
</script>