<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="InfFileAppender" />
      <appender-ref ref="ExpFileAppender" />
    </root>
    <appender name="InfFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="Logs\Portal-Info_" />
      <staticLogFileName value="False" />
      <rollingStyle value="Date" />
      <datePattern value="yyyy.MM.dd'.log'" />
      <appendToFile value="true" />
      <encoding value="utf-8" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="INFO" />
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{yy/MM/dd HH:mm:ss.fff} : %message%newline" />
      </layout>
    </appender>
    <appender name="ExpFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="Logs\Portal-Exceptions_" />
      <staticLogFileName value="False" />
      <rollingStyle value="Date" />
      <datePattern value="yyyy.MM.dd'.log'" />
      <appendToFile value="true" />
      <encoding value="utf-8" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR" />
        <levelMax value="ERROR" />
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{yy/MM/dd HH:mm:ss.fff} : %message%newline" />
      </layout>
    </appender>
  </log4net>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=.;Initial Catalog=Portal;Integrated Security=True; max pool size=500" providerName="System.Data.SqlClient" />
    <add name="PortalEntities" connectionString="metadata=res://*/Models.PortalModel.csdl|res://*/Models.PortalModel.ssdl|res://*/Models.PortalModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Portal;integrated security=True; max pool size=500;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DanestanehEntities" connectionString="metadata=res://*/Models.DanestanehModel.csdl|res://*/Models.DanestanehModel.ssdl|res://*/Models.DanestanehModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Danestaneh;integrated security=True; max pool size=500;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MyLeagueEntities" connectionString="metadata=res://*/Models.MyLeagueModel.csdl|res://*/Models.MyLeagueModel.ssdl|res://*/Models.MyLeagueModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=MyLeague;integrated security=True; max pool size=500;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MobiligaEntities" connectionString="metadata=res://*/Models.MobiligaModel.csdl|res://*/Models.MobiligaModel.ssdl|res://*/Models.MobiligaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Mobiliga;integrated security=True; max pool size=500;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MashinBazhaEntities" connectionString="metadata=res://*/Models.MashinBazhaModel.csdl|res://*/Models.MashinBazhaModel.ssdl|res://*/Models.MashinBazhaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=MashinBazha;integrated security=True; max pool size=500;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SoltanEntities" connectionString="metadata=res://*/Models.SoltanModel.csdl|res://*/Models.SoltanModel.ssdl|res://*/Models.SoltanModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Soltan;integrated security=True; max pool size=500;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Tabriz2018Entities" connectionString="metadata=res://*/Models.Tabriz2018Model.csdl|res://*/Models.Tabriz2018Model.ssdl|res://*/Models.Tabriz2018Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Tabriz2018;integrated security=True; max pool size=500;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SepidRoodEntities" connectionString="metadata=res://*/Models.SepidRoodModel.csdl|res://*/Models.SepidRoodModel.ssdl|res://*/Models.SepidRoodModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=SepidRood;integrated security=True; max pool size=500;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TirandaziEntities" connectionString="metadata=res://*/Models.TirandaziModel.csdl|res://*/Models.TirandaziModel.ssdl|res://*/Models.TirandaziModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Tirandazi;integrated security=True; max pool size=500;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BimeKarbalaEntities" connectionString="metadata=res://*/Models.BimeKarbalaModel.csdl|res://*/Models.BimeKarbalaModel.ssdl|res://*/Models.BimeKarbalaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=BimeKarbala;integrated security=True; max pool size=500;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BoatingEntities" connectionString="metadata=res://*/Models.BoatingModel.csdl|res://*/Models.BoatingModel.ssdl|res://*/Models.BoatingModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Boating;integrated security=True;max pool size=500;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DonyayeAsatirEntities" connectionString="metadata=res://*/Models.DonyayeAsatirModel.csdl|res://*/Models.DonyayeAsatirModel.ssdl|res://*/Models.DonyayeAsatirModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=DonyayeAsatir;integrated security=True;max pool size=500;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ShahreKalamehEntities" connectionString="metadata=res://*/Models.ShahreKalamehModel.csdl|res://*/Models.ShahreKalamehModel.ssdl|res://*/Models.ShahreKalamehModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=ShahreKalameh;integrated security=True; max pool size=500;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TamlyEntities" connectionString="metadata=res://*/Models.TamlyModel.csdl|res://*/Models.TamlyModel.ssdl|res://*/Models.TamlyModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Tamly;integrated security=True;max pool size=500;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="JabehAbzarEntities" connectionString="metadata=res://*/Models.JabehAbzarModel.csdl|res://*/Models.JabehAbzarModel.ssdl|res://*/Models.JabehAbzarModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=JabehAbzar;integrated security=True; max pool size=500;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ShenoYadEntities" connectionString="metadata=res://*/Models.ShenoYadModel.csdl|res://*/Models.ShenoYadModel.ssdl|res://*/Models.ShenoYadModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=ShenoYad;integrated security=True;max pool size=500;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="FitShowEntities" connectionString="metadata=res://*/Models.FitShowModel.csdl|res://*/Models.FitShowModel.ssdl|res://*/Models.FitShowModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=FitShow;integrated security=True; max pool size=500;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TakavarEntities" connectionString="metadata=res://*/Models.TakavarModel.csdl|res://*/Models.TakavarModel.ssdl|res://*/Models.TakavarModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Takavar;integrated security=True;max pool size=500;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MenchBazEntities" connectionString="metadata=res://*/Models.MenchBazModel.csdl|res://*/Models.MenchBazModel.ssdl|res://*/Models.MenchBazModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=MenchBaz;integrated security=True;max pool size=500;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AvvalPodEntities" connectionString="metadata=res://*/Models.AvvalPodModel.csdl|res://*/Models.AvvalPodModel.ssdl|res://*/Models.AvvalPodModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=AvvalPod;integrated security=True;max pool size=500;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AvvalYadEntities" connectionString="metadata=res://*/Models.AvvalYadModel.csdl|res://*/Models.AvvalYadModel.ssdl|res://*/Models.AvvalYadModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=AvvalYad;integrated security=True; max pool size=500;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SoratyEntities" connectionString="metadata=res://*/Models.SoratyModel.csdl|res://*/Models.SoratyModel.ssdl|res://*/Models.SoratyModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Soraty;integrated security=True; max pool size=500;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <customErrors mode="RemoteOnly" defaultRedirect="Error.cshtml"></customErrors>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="MTSoap" />
        <binding name="ServiceSoap" />
        <binding name="SendSoapBinding" />
        <binding name="SmsSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.20.22.18:1090/mt.asmx" binding="basicHttpBinding" bindingConfiguration="MTSoap" contract="PardisImiServiceReference.MTSoap" name="MTSoap" />
      <endpoint address="http://10.20.22.18:1367/Service.asmx" binding="basicHttpBinding" bindingConfiguration="ServiceSoap" contract="PardisImiSinglechargeServiceReference.ServiceSoap" name="ServiceSoap" />
      <endpoint address="http://10.20.11.200/Send/services/Send" binding="basicHttpBinding" bindingConfiguration="SendSoapBinding" contract="PardisPlatformServiceReference.ServiceCall" name="Send" />
      <endpoint address="http://ws.smartsms.ir/sms.asmx" binding="basicHttpBinding" bindingConfiguration="SmsSoap" contract="HubServiceReference.SmsSoap" name="SmsSoap" />
    </client>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>