
@{
    ViewBag.Title = ViewBag.ServiceName + " : " + "وضعیت ارسال ها";
}

<style>
    .loadAnimation {
        position: relative;
        margin-right: 30px;
    }

    .loadAnimation > .k-loading-mask > .k-loading-image {
        background-size: contain;
    }
</style>

<div class="k-rtl" id="grid"></div>

<script>
    var gridElement = $("#grid");

    $("#grid").kendoGrid({

        columns: [
            { field: "MessageType", title: "نوع محتوا", width: 100 },
            { field: "ContentId", title: "شماره محتوا", width: 100 },
            { field: "TotalMessages", title: "تعداد پیامک", width: 100 },
            { field: "TotalSuccessfulySended", title: "تعداد ارسال موفق", width: 100 },
            { field: "TotalFailed", title: "تعداد خطا", width: 100 },
            { field: "Status", title: "وضعیت", width: 100 },
            { command: [{ text: "انتقال به صف", click: sendToMessagesQueue }], width: 300 }
        ],
        dataSource: {
            type: "aspnetmvc-ajax",
            transport: {
                read: {
                    url: "EventbaseContents/EventbaseContents_Read",
                    type: "POST"
                }
            },
            schema: {
                data: "Data",
                total: "Total",
                errors: "Errors",
                model: {
                    id: "Id",
                    fields: {
                        Id: { type: "number", editable: false },
                        Content: { type: "string", validation: { required: true }, nullable: false },
                        SubscriberNotSendedMoInDays: { type: "int", validation: { required: true }, defaultValue: 0 },
                        Price: { type: "int", validation: { required: true }, defaultValue: 0 },
                        Point: { type: "int", validation: { required: true }, defaultValue: 0 },
                    }
                }
            },
            serverSorting: true,
            serverFiltering: true,
            pageSize: 10,
            serverPaging: true,
            sort: [
                { field: "Id", dir: "desc" }
            ]
        },
        columnMenu: true,
        editable: {
            mode: "inline",
            window: {
                title: "ویرایش",
                width: 500
            },
            confirmation: "آیا می خواهید این مطلب را حذف کنید؟",
        },
        pageable: {
            refresh: true,
            pageSizes: [10, 25, 50, 100],
            buttonCount: 10,
            input: true
        },
        navigatable: true,
        selectable: "single row",
        sortable: {
            mode: "multiple",
            allowUnsort: false
        },
        filterable: true,
        scrollable: false,
        dataBound: function (e) {
            e.sender.dataItems().forEach(function (entry) {
                if (entry.IsAddingMessagesToSendQueue == true && entry.IsAddedToSendQueueFinished == true)
                    hideGridButtons(entry);
                else if (entry.IsAddingMessagesToSendQueue == true && entry.IsAddedToSendQueueFinished == false)
                    disableGridButtons(entry);
            });
        }
    });

    function disableGridButtons(entry) {
        $("#grid").find('[data-uid="' + entry.uid + '"]').find(".k-button").hide();
        $("#grid").find('[data-uid="' + entry.uid + '"]').find(".k-grid-انتقالبهصف").show();
        $("#grid").find('[data-uid="' + entry.uid + '"]').find(".k-grid-انتقالبهصف").attr("disabled", true);
        if (entry.IsAddingMessagesToSendQueue == true && entry.IsAddedToSendQueueFinished == false)
            $("#grid").find('[data-uid="' + entry.uid + '"]').find(".k-grid-انتقالبهصف").text("در حال افزودن به صف...");
        else
            $("#grid").find('[data-uid="' + entry.uid + '"]').find(".k-grid-انتقالبهصف").text("به صف ارسال فرستاده شد");
    }

    function hideGridButtons(entry) {
        $("#grid").find('[data-uid="' + entry + '"]').find(".k-button").hide();
    }

    function sendToMessagesQueue(e) {
        e.preventDefault();

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        if (dataItem.IsAddingMessagesToSendQueue == true && dataItem.IsAddedToSendQueueFinished == false)
            return;
        kendo.ui.progress(gridElement, true);
        $.ajax({
            url: '@Url.Action("SendToMessagesQueue", "EventbaseContent")',
            data: { Id: dataItem.id },
            dataType: 'html',
            success: function (data) {
            },
            complete: function (data) {
                kendo.ui.progress(gridElement, false);
                $('#grid').data('kendoGrid').dataSource.read();
                $('#grid').data('kendoGrid').refresh();
            },
        });
    }

    function SendButton(e) {
        if ($(e.currentTarget).closest(".k-button").hasClass("k-state-disabled") == true)
            return false;
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var loadingElement = $("#" + dataItem.uid + "-loading");
        if (dataItem.ProcessStatus == 1) {
            DisbaleGridButtons(dataItem.uid);
            $.ajax({
                url: '@Url.Action("StartSendingMessages", "Monitoring")',
                data: { ContentId: dataItem.ContentId, MessageType: dataItem.MessageType },
                dataType: 'html',
                success: function (data) {
                    kendo.ui.progress(loadingElement, true);
                    ChangeButtonTextToPauesed(dataItem.uid);
                    EnableGridButtons(dataItem.uid);
                },
                error: function () {
                    kendo.ui.progress(loadingElement, false);
                    EnableGridButtons(dataItem.uid);
                },
            });
        }
        else if (dataItem.ProcessStatus == 2) {
            DisbaleGridButtons(dataItem.uid);
            $.ajax({
                url: '@Url.Action("PauseSendingMessages", "Monitoring")',
                data: { ContentId: dataItem.ContentId, MessageType: dataItem.MessageType },
                dataType: 'html',
                success: function (data) {
                    kendo.ui.progress(loadingElement, false);
                    ChangeButtonTextToResume(dataItem.uid);
                    EnableGridButtons(dataItem.uid);
                },
                error: function () {
                    kendo.ui.progress(loadingElement, true);
                    EnableGridButtons(dataItem.uid);
                },
            });
        }
        else if (dataItem.ProcessStatus == 6) {
            DisbaleGridButtons(dataItem.uid);
            $.ajax({
                url: '@Url.Action("ResumeSendingMessages", "Monitoring")',
                data: { ContentId: dataItem.ContentId, MessageType: dataItem.MessageType },
                dataType: 'html',
                success: function (data) {
                    kendo.ui.progress(loadingElement, true);
                    ChangeButtonTextToPauesed(dataItem.uid);
                    EnableGridButtons(dataItem.uid);
                },
                error: function () {
                    kendo.ui.progress(loadingElement, false);
                    EnableGridButtons(dataItem.uid);
                },
            });
        }
    }
</script>