
<div id="grid"></div>
<script>
    $("#grid").kendoGrid({
        height: 400,
        columns: [
            {field: "Name"},
            {field: "ServiceCode"},
            {field: "DateCreated"},
            {field: "OnKeywords"},
            {field: "ServiceIsActive"},
            {field: "WelcomeMessage"},
            {field: "LeaveMessage"},
            {field: "InvalidContentWhenSubscribed"},
            {field: "InvalidContentWhenNotSubscribed"},
            {field: "IsEnabled"},
            {field: "ServiceHelp"},
            {command: [ "edit" , "destroy"], width: 180 }
        ],
        toolbar: ["create", "excel"],
        dataSource: {
            type: "aspnetmvc-ajax", 
            transport: {
                read: {
                    url: "RpsService/Services_Read"
                }, 
				create: { 
				    url: "RpsService/Services_Create"
				},
				update: { 
				    url: "RpsService/Services_Update"
				},
				destroy: { 
				    url: "RpsService/Services_Destroy"
				}
			},
            schema: {
                data: "Data",
                model: {
                    id: "Id",
					fields: {
						Id: { type: "number"},
						Name: { type: "string"},
						ServiceCode: { type: "string"},
						DateCreated: { type: "date"},
						OnKeywords: { type: "string"},
						ServiceIsActive: { type: "boolean"},
						WelcomeMessage: { type: "string"},
						LeaveMessage: { type: "string"},
						InvalidContentWhenSubscribed: { type: "string"},
						InvalidContentWhenNotSubscribed: { type: "string"},
						IsEnabled: { type: "boolean"},
						ServiceHelp: { type: "string"}
					}
                }
            }, 
			serverPaging: true,
			serverSorting: true,
			serverSorting: true,
        },
        columnMenu: true,
        editable: "popup",
        pageable: true,
        navigatable: true,
        selectable: "single row",
        sortable: {
            mode: "single"
        },
        filterable: true,
        scrollable: false
    })

</script>
