
@{
    ViewBag.Title = ViewBag.ServiceName + " : " + "لیست لیگ ها";
}

<div class="k-rtl" id="grid"></div>

<script>
    $("#grid").kendoGrid({

        columns: [
            { field: "Id", title: "ردیف" },
            { field: "Number", title: "شماره لیگ" },
            { field: "Name", title: "نام لیگ" },
            { command: ["edit", "destroy"], width: 180 }
        ],
        toolbar: ["create"],
        dataSource: {
            type: "aspnetmvc-ajax",
            transport: {
                read: {
                    url: "LeagueList/LeagueList_Read",
                    type: "POST"
                },
                create: {
                    url: "LeagueList/LeagueList_Create",
                    type: "POST",
                    complete: function (e) {
                        $("#grid").data("kendoGrid").dataSource.read();
                    }
                },
                update: {
                    url: "LeagueList/LeagueList_Update",
                    type: "POST",
                    complete: function (e) {
                        $("#grid").data("kendoGrid").dataSource.read();
                    }
                },
                destroy: {
                    url: "LeagueList/LeagueList_Destroy",
                    type: "POST",
                    complete: function (e) {
                        $("#grid").data("kendoGrid").dataSource.read();
                    }
                },
            },
            schema: {
                data: "Data",
                total: "Total",
                errors: "Errors",
                model: {
                    id: "Id",
                    fields: {
                        Id: { type: "number", editable: false },
                        Number: { type: "int", validation: { required: true }, nullable: false },
                        Name: { type: "string", validation: { required: true }, nullable: false },
                    }
                }
            },
            serverSorting: true,
            serverFiltering: true,
            pageSize: 10,
            serverPaging: true,
            sort: [
                { field: "Number", dir: "asc" }
            ]
        },
        columnMenu: true,
        editable: {
            mode: "inline",
            window: {
                title: "ویرایش",
                width: 500
            },
            confirmation: "آیا می خواهید این مطلب را حذف کنید؟",
        },
        pageable: {
            refresh: true,
            pageSizes: [10, 25, 50, 100],
            buttonCount: 10,
            input: true
        },
        navigatable: true,
        selectable: "single row",
        sortable: {
            mode: "multiple",
            allowUnsort: false
        },
        filterable: true,
        scrollable: false,
        dataBound: function (e) {
            e.sender.dataItems().forEach(function (entry) {
                if (entry.IsAddedToSendQueue == true)
                    disableGridButtons(entry.uid);
            });
        }
    });

    function disableGridButtons(entry) {
        $("#grid").find('[data-uid="' + entry + '"]').find(".k-button").hide();
    }
</script>