
@{
    ViewBag.Title = ViewBag.ServiceName + " : " + "محتوای ارسال به صورت دستی";
}

<div class="k-rtl" id="grid"></div>

<script>
    var gridElement = $("#grid");

    $("#grid").kendoGrid({

        columns: [
            { field: "Id", title: "ردیف", width: 100 },
            { field: "PersianDateCreated", title: "تاریخ ایجاد", width: 200 },
            { field: "Content", title: "محتوی", editor: textAreaEditor },
            { field: "SubscriberNotSendedMoInDays", title: "ارسال به اعضایی که محتوایی ارسال نکرده اند", editor: subscriberNotSendedMoInDaysDropDownEditor, template: "#=getSubscriberNotSendedMoInDaysValue(SubscriberNotSendedMoInDays)#", width: 100 },
            { field: "Price", title: "هزینه پیام", width: 100 },
            { field: "Point", title: "امتیاز", width: 100 },
            { command: ["edit", "destroy", { text: "انتقال به صف", click: sendToMessagesQueue }], width: 300 }
        ],
        toolbar: ["create"],
        dataSource: {
            type: "aspnetmvc-ajax",
            transport: {
                read: {
                    url: "EventbaseContents/EventbaseContents_Read",
                    type: "POST"
                },
                create: {
                    url: "EventbaseContents/EventbaseContents_Create",
                    type: "POST",
                    complete: function (e) {
                        $("#grid").data("kendoGrid").dataSource.read();
                    }
                },
                update: {
                    url: "EventbaseContents/EventbaseContents_Update",
                    type: "POST",
                    complete: function (e) {
                        $("#grid").data("kendoGrid").dataSource.read();
                    }
                },
                destroy: {
                    url: "EventbaseContents/EventbaseContents_Destroy",
                    type: "POST",
                    complete: function (e) {
                        $("#grid").data("kendoGrid").dataSource.read();
                    }
                },
            },
            schema: {
                data: "Data",
                total: "Total",
                errors: "Errors",
                model: {
                    id: "Id",
                    fields: {
                        Id: { type: "number", editable: false },
                        PersianDateCreated: { editable: false },
                        Content: { type: "string", validation: { required: true }, nullable: false },
                        SubscriberNotSendedMoInDays: { type: "int", validation: { required: true }, defaultValue: 0 },
                        Price: { type: "int", validation: { required: true }, defaultValue: 0 },
                        Point: { type: "int", validation: { required: true }, defaultValue: 0 },
                    }
                }
            },
            serverSorting: true,
            serverFiltering: true,
            pageSize: 10,
            serverPaging: true,
            sort: [
                { field: "Id", dir: "desc" }
            ]
        },
        columnMenu: true,
        editable: {
            mode: "inline",
            window: {
                title: "ویرایش",
                width: 500
            },
            confirmation: "آیا می خواهید این مطلب را حذف کنید؟",
        },
        pageable: {
            refresh: true,
            pageSizes: [10, 25, 50, 100],
            buttonCount: 10,
            input: true
        },
        navigatable: true,
        selectable: "single row",
        sortable: {
            mode: "multiple",
            allowUnsort: false
        },
        filterable: true,
        scrollable: false,
        dataBound: function (e) {
            e.sender.dataItems().forEach(function (entry) {
                if (entry.IsAddingMessagesToSendQueue == true && entry.IsAddedToSendQueueFinished == true)
                    hideGridButtons(entry);
                else if (entry.IsAddingMessagesToSendQueue == true && entry.IsAddedToSendQueueFinished == false)
                    disableGridButtons(entry);
            });
        }
    });

    function disableGridButtons(entry) {
        $("#grid").find('[data-uid="' + entry.uid + '"]').find(".k-button").hide();
        $("#grid").find('[data-uid="' + entry.uid + '"]').find(".k-grid-انتقالبهصف").show();
        $("#grid").find('[data-uid="' + entry.uid + '"]').find(".k-grid-انتقالبهصف").attr("disabled", true);
        if (entry.IsAddingMessagesToSendQueue == true && entry.IsAddedToSendQueueFinished == false)
            $("#grid").find('[data-uid="' + entry.uid + '"]').find(".k-grid-انتقالبهصف").text("در حال افزودن به صف...");
        else
            $("#grid").find('[data-uid="' + entry.uid + '"]').find(".k-grid-انتقالبهصف").text("به صف ارسال فرستاده شد");
    }

    function hideGridButtons(entry) {
        $("#grid").find('[data-uid="' + entry.uid + '"]').find(".k-button").hide();
    }

    function sendToMessagesQueue(e) {
        e.preventDefault();

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        if (dataItem.IsAddingMessagesToSendQueue == true && dataItem.IsAddedToSendQueueFinished == false)
            return;
        kendo.ui.progress(gridElement, true);
        $.ajax({
            url: '@Url.Action("SendEventbaseToQueue", "EventbaseContents")',
            data: { Id: dataItem.id },
            dataType: 'html',
            success: function (data) {
            },
            complete: function (data) {
                kendo.ui.progress(gridElement, false);
                $('#grid').data('kendoGrid').dataSource.read();
                $('#grid').data('kendoGrid').refresh();
            },
        });
    }
</script>